body {
    font-size:3vh 
}
html { 
    font-family: Helvetica;
    display: inline-block; 
    margin: 0px auto;
    text-align: center;
    color:#ffffff;
}
.button {
    box-shadow:inset 0px 1px 0px 0px #29bbff;
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color:#2dabf9;
    border-radius:6px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:40px;
    padding:10px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
.button:hover {
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color:#0688fa;
}
.button:active {
    position:relative;
    top:1px;
}
.box {
    background:linear-gradient(to bottom, RGBA(45, 171, 249, 0.3) 5%, RGBA(6, 136, 250, 0.3) 100%);
    border-radius:6px;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:40px;
    padding:10px 20px;
    text-shadow:0px 1px 0px #263666;
}
.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
}
.video-foreground,
.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
@media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%; }
}
ul{
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}		
li {
    display: inline-block;
    font-size: 20px;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}
li span {
    display: block;
    font-size: 25px;
}